$white: #fff;
$primery: #ff4e50;
$secondary: #444444;
$last:#E3E3E3;

$primery-font: Montserrat-Bold, sans-serif;
$secondary-font: Montserrat-Regular, sans-serif;
$last-font: Roboto-Light, sans-serif;

$madia-md:768px;
$madia-sm:576px;