* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

.header {
  width: auto;
  height: 700px;
  background-image: url(../image/Background-Header.png);
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}

.header-container {
  margin: 0 auto;
  width: 70vw;
}

@media screen and (max-width: 576px) {
  .header-container {
    width: 90%;
    margin: 0 auto;
  }
}

.header-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.header-category {
  font-size: 20px;
  color: #fff;
  font-family: Montserrat-Bold, sans-serif;
  margin: 10px 0 0;
}

@media screen and (max-width: 576px) {
  .header-category {
    margin: 97px auto 0;
    width: 100%;
    text-align: center;
  }
}

.header .text-header-login {
  font-size: 14px;
  font-family: Montserrat-Regular, sans-serif;
  color: #fff;
  margin: 0 0 10px;
}

@media screen and (max-width: 576px) {
  .header .text-header-login {
    margin: 10px 0;
  }
}

.header .button-header-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 36px;
  color: #fff;
  font-family: Montserrat-Regular, sans-serif;
  border: 2px solid #fff;
  border-radius: 20px;
  margin: 0 0 0 19px;
}

.header-info {
  margin: 147px auto 0;
}

@media screen and (max-width: 576px) {
  .header-info {
    margin: 26px 0;
    width: 100%;
    text-align: center;
  }
}

.header-title {
  font-size: 52px;
  text-align: center;
  color: #fff;
  line-height: 63px;
  font-family: Montserrat-Bold, sans-serif;
}

@media screen and (max-width: 576px) {
  .header-title {
    font-size: 30px;
    line-height: 37px;
    margin: 0 auto;
  }
}

.header-text {
  font-size: 24px;
  text-align: center;
  margin: 29px 0 0;
  font-family: Roboto-Light, sans-serif;
  color: #fff;
}

.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 40px;
  background-color: #ff4e50;
  margin: 33px auto;
  border-radius: 20px;
  font-size: 14px;
  font-family: Montserrat-Bold, sans-serif;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 700px;
    background-position: center;
  }
}

@media screen and (max-width: 576px) {
  .header {
    width: 100%;
    height: 540px;
    background-position: center;
  }
}

@media screen and (max-width: 576px) {
  .header .header-login {
    margin: 0 auto;
  }
}

.content {
  max-width: 940px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .content {
    min-width: 320px;
  }
}

.content .works-block {
  margin: 112px 0 0;
}

@media screen and (max-width: 576px) {
  .content .works-block {
    margin: 35px 0 0;
  }
}

.content .works-block .works-title {
  font-size: 26px;
  text-align: center;
  font-family: Montserrat-Bold, sans-serif;
  color: #444444;
}

@media screen and (max-width: 576px) {
  .content .works-block .works-title {
    font-size: 22px;
    width: 289px;
    margin: 0 auto;
  }
}

.content .block-Of-three-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .block-Of-three-works .block-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 300px;
  max-height: 400px;
  width: 32vw;
  height: 40vw;
  background-size: cover;
  margin: 35px 0 0;
}

@media screen and (max-width: 768px) {
  .content .block-Of-three-works .block-works {
    max-width: 236px;
    max-height: 400px;
    width: 32vw;
    height: 50vw;
  }
}

@media screen and (max-width: 576px) {
  .content .block-Of-three-works .block-works {
    max-width: 90%;
    width: 90vw;
    min-height: 240px;
    height: 50vw;
    background-position: center;
    margin: 10px auto;
  }
}

.content .block-Of-three-works .block-works .work-step-info {
  margin: 0 auto 16px;
  width: 90%;
}

.content .block-Of-three-works .block-works .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 20px;
  background-color: #ff4e50;
  border-radius: 20px;
  font-size: 10px;
  font-family: Montserrat-Regular, sans-serif;
  color: #fff;
}

.content .block-Of-three-works .block-works-title {
  margin: 18px 0 0;
  font-size: 24px;
  color: #fff;
  font-family: Montserrat-Bold, sans-serif;
}

.content .block-Of-three-works .block-works-text {
  margin: 12px 0 0;
  font-size: 14px;
  line-height: 14px;
  font-family: Roboto-Light, sans-serif;
  color: #E3E3E3;
}

.content .block-Of-three-works .step1 {
  background-image: url(../image/step-1-image.png);
  background-position: center;
}

.content .block-Of-three-works .step2 {
  background-image: url(../image/step-2-image.png);
  background-position: center;
}

.content .block-Of-three-works .step3 {
  background-image: url(../image/step-3-image.png);
  background-position: center;
}

@media screen and (max-width: 768px) {
  .content .partner-holidey-block {
    width: 492px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .content .partner-holidey-block {
    width: 300px;
  }
}

.content .partner-holidey-block .partner-holiday-title {
  margin: 89px 0 0;
  text-align: center;
  font-size: 26px;
  font-family: Montserrat-Bold, sans-serif;
  color: #444444;
}

@media screen and (max-width: 576px) {
  .content .partner-holidey-block .partner-holiday-title {
    font-size: 22px;
    margin: 36px 0 0;
  }
}

.content .partner-holidey-block .partner-holiday-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .partner-holidey-block .partner-holiday-container .holiday-partner {
  max-width: 221px;
  width: 20vw;
  height: 205px;
  margin: 35px 0 0;
}

@media screen and (max-width: 768px) {
  .content .partner-holidey-block .partner-holiday-container .holiday-partner {
    width: 236px;
    height: 205px;
  }
}

@media screen and (max-width: 576px) {
  .content .partner-holidey-block .partner-holiday-container .holiday-partner {
    margin: 14px auto 0;
  }
}

.content .partner-holidey-block .partner-holiday-container .holiday-partner .partner-avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

.content .partner-holidey-block .partner-holiday-container .holiday-partner .partner-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.content .partner-holidey-block .partner-holiday-container .holiday-partner .partner-avatar .partner-icon {
  width: 37px;
  height: 37px;
  position: absolute;
  top: 88px;
  left: 88px;
  border-radius: 50%;
  border: 3px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .partner-holidey-block .partner-holiday-container .holiday-partner .partner-avatar .partner-icon img {
  width: 16px;
  height: 16px;
}

.content .partner-holidey-block .partner-holiday-container .holiday-partner .partner-avatar .icon1 {
  background-color: #ff4e50;
}

.content .partner-holidey-block .partner-holiday-container .holiday-partner .partner-avatar .icon2 {
  background-color: #19d4ca;
}

.content .partner-holidey-block .partner-holiday-container .holiday-partner .partner-avatar .icon3 {
  background-color: #ffa710;
}

.content .partner-holidey-block .partner-holiday-container .holiday-partner .partner-avatar .icon4 {
  background-color: #667df3;
}

.content .partner-holidey-block .partner-holiday-container .holiday-partner .name-partner {
  text-align: center;
  margin: 17px 0 0;
  font-size: 14px;
  color: #444444;
  font-family: Montserrat-Bold, sans-serif;
}

.content .partner-holidey-block .partner-holiday-container .holiday-partner .partner-info {
  text-align: center;
  font-size: 14px;
  color: #666;
  font-family: Roboto-Light, sans-serif;
  margin: 12px 0 0;
}

.content .partner-holidey-block .other-partner-button {
  width: 180px;
  height: 40px;
  margin: 55px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  border: 2px solid #ff4e50;
  font-size: 14px;
  font-family: Montserrat-Bold, sans-serif;
  color: #ff4e50;
}

@media screen and (max-width: 768px) {
  .content .partner-holidey-block .other-partner-button {
    margin: 35px auto 0;
    width: 280px;
    height: 40px;
  }
}

.content .ideas-container .ideas-title {
  font-size: 26px;
  margin: 89px 0 35px 0;
  text-align: center;
  font-family: Montserrat-Bold, sans-serif;
  color: #444444;
}

@media screen and (max-width: 768px) {
  .content .ideas-container .ideas-title {
    font-size: 22px;
    margin: 35px auto 33px;
  }
}

.content .ideas-container .ideas-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .content .ideas-container .ideas-block {
    width: 100%;
  }
}

.content .ideas-container .ideas-block .ideas-box {
  margin: 0 0 20px 0;
  max-width: 300px;
  width: 32vw;
  height: 310px;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .content .ideas-container .ideas-block .ideas-box {
    max-width: 238px;
    width: 32vw;
    height: 310px;
  }
}

@media screen and (max-width: 576px) {
  .content .ideas-container .ideas-block .ideas-box {
    max-width: 90%;
    width: 90vw;
    min-height: 120px;
    height: 40vw;
    margin: 0 auto 10px;
  }
}

.content .ideas-container .ideas-block .last-ideas-box {
  max-width: 620px;
  width: 66vw;
  height: 310px;
  background-color: aqua;
  margin: 0 0 20px 0;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .content .ideas-container .ideas-block .last-ideas-box {
    max-width: 500px;
    width: 66vw;
    height: 310px;
    background-position: center;
  }
}

@media screen and (max-width: 576px) {
  .content .ideas-container .ideas-block .last-ideas-box {
    max-width: 90%;
    width: 90vw;
    min-height: 120px;
    height: 40vw;
    margin: 0 auto 10px;
  }
}

.content .ideas-container .ideas-block .mask {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .ideas-container .ideas-block .mask .ideas-box-title {
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  font-family: Montserrat-Bold, sans-serif;
}

@media screen and (max-width: 768px) {
  .content .ideas-container .ideas-block .mask .ideas-box-title {
    text-align: center;
    width: 206px;
  }
}

.content .ideas-container .ideas-block .image-sport {
  background-image: url(../image/sport.jpg);
}

.content .ideas-container .ideas-block .image-health {
  background-image: url(../image/health.png);
}

.content .ideas-container .ideas-block .image-extreme {
  background-image: url(../image/extreme.png);
}

.content .ideas-container .ideas-block .image-games {
  background-image: url(../image/games.png);
}

.content .ideas-container .ideas-block .image-culture {
  background-image: url(../image/culture.png);
}

.content .ideas-container .ideas-block .image-trevelling {
  background-image: url(../image/trevelling.png);
}

.content .ideas-container .ideas-block .image-relaxation {
  background-image: url(../image/relaxation.png);
}

.content .ideas-container .last-ideas-block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 576px) {
  .content .activity {
    width: 100%;
    text-align: center;
  }
}

.content .activity-title {
  margin: 89px 0 0;
  text-align: center;
  font-size: 26px;
  font-family: Montserrat-Bold, sans-serif;
  color: #444444;
}

@media screen and (max-width: 576px) {
  .content .activity-title {
    font-size: 22px;
    margin: 35px 0 0;
  }
}

.content .activity-questions {
  margin: 43px 0 0;
  text-align: center;
  font-size: 18px;
  font-family: Roboto-Light, sans-serif;
  color: #666;
}

@media screen and (max-width: 576px) {
  .content .activity-questions {
    margin: 9px 0 0;
  }
}

.content .search-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 25px 0 0;
}

@media screen and (max-width: 576px) {
  .content .search-partners {
    width: 280px;
    margin: 15px auto 0;
    text-align: center;
  }
}

.content .search-partners input[type="search"] {
  width: 300px;
  height: 40px;
  padding: 0 0 0 10px;
  font-size: 14px;
  font-family: Roboto-Light, sans-serif;
}

@media screen and (max-width: 576px) {
  .content .search-partners input[type="search"] {
    width: 280px;
    height: 40px;
  }
}

.content .search-partners .button-search {
  width: 173px;
  height: 40px;
  background-color: #ff4e50;
  margin: 0 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  color: #fff;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .content .search-partners .button-search {
    width: 280px;
    height: 40px;
    margin: 10px auto 0;
  }
}

.footer {
  height: 224px;
  -webkit-border-before: 2px solid #ff4e50;
          border-block-start: 2px solid #ff4e50;
  margin: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .footer {
    width: 100%;
    height: 330px;
  }
}

.footer-category {
  margin: 38px auto;
  color: #ff4e50;
  font-size: 16px;
  font-family: Montserrat-Bold, sans-serif;
}

@media screen and (max-width: 576px) {
  .footer-category {
    width: 100%;
    margin: 19px auto;
    text-align: center;
  }
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 38px auto;
  width: 35vw;
}

@media screen and (max-width: 768px) {
  .footer-info {
    width: 30vw;
  }
}

@media screen and (max-width: 576px) {
  .footer-info {
    max-width: 55%;
    width: 58vw;
    margin: 13px auto 0;
    text-align: center;
  }
}

.footer-navigation .navigation-title {
  font-size: 14px;
  font-family: Montserrat-Bold, sans-serif;
  color: #444444;
  margin: 0 0 11px;
}

@media screen and (max-width: 576px) {
  .footer-navigation .navigation-title {
    text-align: center;
  }
}

.footer-navigation .navigation-button {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  color: #444;
  font-family: Roboto-Light, sans-serif;
}

@media screen and (max-width: 576px) {
  .footer-navigation .navigation-button {
    display: inline-block;
    line-height: 26px;
    margin: 0 10px 0 0;
    text-align: center;
  }
}

.footer .partners-title {
  font-size: 14px;
  font-family: Montserrat-Bold, sans-serif;
  color: #444444;
}

@media screen and (max-width: 576px) {
  .footer .partners {
    width: 100%;
    text-align: center;
    margin: 6px 0 0;
  }
}

.footer-logo {
  margin: 38px auto;
}

@media screen and (max-width: 768px) {
  .footer-logo {
    margin: 38px auto;
  }
}

@media screen and (max-width: 576px) {
  .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 14px auto;
  }
}

.footer .logo-text {
  font-size: 10px;
  color: #cccc;
  font-family: #ff4e50;
  margin: 2px 0 0 30px;
  line-height: 12px;
}

.footer .logo {
  background-image: url(../image/logo.svg);
  width: 110px;
  height: 24px;
  margin: 7px 0 0;
}
/*# sourceMappingURL=main.css.map */